body{
    background-image: url('/img/blur.jpg');
    background-attachment: fixed;
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #priceCard{
       
        margin-top: 0px;
        
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #priceCard{
        
        margin-top: -250px;
    }
} 